#root{
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

main{
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
}

header{
  width: 100%;
  background: cadetblue;
  color: azure;
}

hr{
  border: 1px solid lightgray;
  width: 100%;
}

.taskBox {
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  margin: 1%;
  justify-content: center;
  align-items: center;
}

.taskBox>button {
  margin:1%;
  width: 10%;
}
.taskBox > h4 {
  width: 50%;
}

.taskBox > input.inp {
  margin: 1%;
  width: 30%;
}

.taskBox > input.chk {
  width: 2%;
}

main > form > input {
  margin: 1%;
}

h4.true {
  color: rgb(69, 148, 148);
  text-decoration: line-through;
}

div.baja {
  background-color: rgb(196, 255, 196);
}

div.alta {
  background-color: rgb(253, 171, 171);
}